<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>   
<style>
    *{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    body{
        background-image: url('/images/back.jpg');
        /* background-repeat:no-repeat; */
        background-size:cover;
        background-position:center;
    }
    .cont{
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: relative;
        margin:auto;
        width: 350px;
        height:300px;
        padding:10px;
        border-radius: 10px;
        background: url('/images/aa.jpg');
        box-shadow: 1px 1px 5px 1px #00000080;
    }
    .vido{
        max-width: 100%;
        
    }
    .cont1{
        margin:10px;
    }
    h2{
        text-align: center;
    }
    p{
        
    }
    body{
        background-color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .qwe{
        border:none;
        padding:5px;
        width:180px;
        min-height: 300px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 1px #00000030;
    }
    .btn{
        border: none;
        background-color: #6CCFFf00;
        border: 1px solid #00000080;
        padding:15px;
        transition: background-color 0.3s ease-out;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 1px #00000030;
        
    }
    .btn:hover{
        background-color: #00000080;
        color: #fff;
    }
    .vid{
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        position:relative;
        text-align: center;
        background-color: #00000060;
        width: fit-content;
        padding:10px;
        height: 500px;
        backdrop-filter: blur(5px);
    }
    .txt{
        color: #fff;
    }
    h2{
        text-align: center;
    }
</style>
<body>
    <h2>Music Mood Recommendation System</h2>
    <%- body %>
    <br>
</body>
</html>