<div>
    <form action="/" method="get" class="cont">
        <p>Select Mood:</p>
            <input class="" type="radio" id="Happy" name="mood" value="Happy"> Happy <br>
            <input class="" type="radio" id="Sad" name="mood" value="Sad"> Sad <br>
        <br>  
        <p>Select preferable language:</p>
            <input class="" type="radio" id="lang1" name="lang" value="Telugu"> Telugu <br>
            <input class="" type="radio" id="lang2" name="lang" value="Hindi"> Hindi <br>
            <input class="" type="radio" id="lang3" name="lang" value="Tamil"> Tamil <br>
            <center>
                <input class="btn" type="submit">
            </center><br>
        </form>
</div>
<br><br>

    <div class="vid"><br>
        <p class="txt">You can view the video of random songs by the options you have selected or listen to the music only..!</p>
        <p class="cont1">
            <%- locals.mood || "" %>
        </p>
    </div>
